<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Iniciar Sesión - AntojoSweet</title>
    <link rel="stylesheet" href="../css/register_login.css" />
  </head>
  <body>
    <header>
      <a href="#" class="btn-salir"> ← Salir </a>
    </header>

    <main class="contenedor">
      <section class="informacion">
        <h1>
          Bienvenido<br />
          <span>de nuevo.</span>
        </h1>

        <p>
          Inicia sesión para acceder a tu cuenta, revisar tus pedidos y
          disfrutar de promociones exclusivas.
        </p>

        <div class="imagenes">
          <img src="####" alt="postre" />
          <img src="####" alt="postre" />
        </div>
      </section>

      <section class="formulario">
        <div class="tabs">
          <a href="login.html" class="tab-btn activo">Inicia</a>
          <a href="register.html" class="tab-btn ">Registrate</a>
        </div>

        <h2>Iniciar sesión</h2>
        <p>Ingresa tus datos para continuar.</p>

        <form>
          <div class="campo">
            <label>Correo electrónico</label>
            <input type="email" placeholder="correo@email.com" />
          </div>

          <div class="campo">
            <label>Contraseña</label>
            <input type="password" placeholder="********" />
          </div>

          <input class="btn-formulario" type="submit" value="Iniciar Sesión" />
        </form>
      </section>
    </main>
  </body>
</html>
