<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro - AntojoSweet</title>
    <link rel="stylesheet" href="../css/register_login.css">
</head>
<body>

    <header>
        <nav class="navbar">
            <div class="logo">AntojoSweet</div>

            <ul class="menu">
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Catalogo</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>

            <div class="buttons">
                <a href="#"><button class="btn-login">INICIAR</button></a>
                <a href="#"><button class="btn-register">REGISTRARSE</button></a>
            </div>
        </nav>
    </header>

    <main class="contenedor">

        <section class="informacion">
            <h1>
                Dulce sabor<br>
                <span>Reimaginado.</span>
            </h1>

            <p>Entra en nuestro mundo de delicias artesanales, donde cada bocado es una obra maestra. Únete a nuestra comunidad dulce para colecciones exclusivas y recompensas azucaradas.</p>

            <div class="imagenes">
                <img src="####" alt="postre">
                <img src="####" alt="macarons">
            </div>
        </section>

        <section class="formulario">
            <div class="tabs">
                <button>Inicia</button>
                <button class="activo">Registrate</button>
            </div>

            <h2>Crea tu cuenta</h2>
            <p>Unete a nuestra dulce comunidad.</p>

            <form>
                <div class="campo">
                    <label>Nombre completo</label>
                    <input type="text" placeholder="Luis Mateo">
                </div>

                <div class="campo">
                    <label>Correo electronico</label>
                    <input type="email" placeholder="example@email.com">
                </div>

                <div class="campo">
                    <label>Contraseña</label>
                    <input type="password" placeholder="********">
                </div>

                <div class="campo">
                    <label>Confirma contraseña</label>
                    <input type="password" placeholder="********">
                </div>

                <input class="btn-formulario" type="submit" value="Create Account">
            </form>
        </section>
    </main>

    <footer>
        <div class="footer-contenedor">
            <div class="footer-info">
                <h3>Antojo Sweet</h3>
                <p>Creando momentos de pura alegría con repostería artesanal y un servicio de corazón.</p>
            </div>

            <div>
                <h4>Tienda</h4>
                <ul>
                    <li>Pasteles</li>
                    <li>Postres</li>
                    <li>Cajas de regalo</li>
                </ul>
            </div>

            <div>
                <h4>Soporte</h4>
                <ul>
                    <li>politica de envios</li>
                    <li>Politica de seguridad</li>
                </ul>
            </div>

            <div>
                <h4>Desde</h4>
                <p> 2026 Antojo Sweet</p>
            </div>

        </div>
    </footer>
</body>
</html>